<!DOCTYPE html>
<html ng-app="client">


<link href="/home/user/chatApp/client/css/forgotPswd.css" type="text/css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>


<body>

    <div ng-controller="controlForgotPassword">
        <title>forget Password</title>
        <div class="forgotPswd" style="margin-left:350px;">
            <form>
                <h2>Forgot Password</h2>
                <label>Email ID</label>
                    <input type="email" id="txtemailId"ng-model="email"><br><br>
                    <button ng-click="forgotPassword()">Submit</button><br><br>

            </form>
        </div>

</html>