<!DOCTYPE html>
<html ng-app="client">

<head>
    <link href="/home/user/chatApp/client/css/resetPswd.css" type="text/css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

</head>

<body>

    <div ng-controller="controlReset">
        <title>Reset Password</title>
        <div class="resetPswd" style="margin-left:350px;">
            <form>

                <h2>Reset Password</h2>
                <label>New Password</label><br>
                <input type="password" id="txtnewPswd" ng-model="Password"><br><br>
                <button ng-click="resetPassword()">Reset</button><span></span>
            </form>
        </div>


</body>

</html>